html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#leftbox {
    float: left;
    width: 25%;
    height: 280px;
}

#middlebox {
    float: left;
    width: 46%;
    height: 280px;
}

#rightbox {
    float: right;
    width: 25%;
    height: 280px;
}


