@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cigar World a fan site for Cigars and more stuff about cigar smoking.</h1>
    
</div>


<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div id="boxes">
        <div id="leftbox">
            
        <p>Cigar smoking isn’t for everyone. We know that. But we still think everybody should know a bit about the art. There’s a lot of history behind this age-old practice as well as an entire culture to go along with it. Plus, you wouldn’t want to seem foolish when one of your friends eventually has a baby and passes out cigars to all of his friends. Would you?

Here’s our very basic beginner’s guide to smoking cigars along with some history, tips and tricks. It’s always nice to cut the cap off of a nice cigar, pour a glass of whiskey and relax at the end of the day. Give it a try. No pressure.</p>

        </div>
</body>
</html>
