@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style = "padding-bottom:10px" class="display-4">Facts about Smoking</h1>
     <hr />
</div>


<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div id="boxes">
        <div id="leftbox">
            <h2 style = "padding-bottom:10px" class="display-4">What Cigar Should You Smoke as a Beginner?</h2>
            <hr />

            <p>
                Before you even learn how to cut, light and smoke a cigar, you’ll need to choose one to smoke!

                Selecting a cigar for the first time can be a challenge as there are so many brands, shapes, sizes and wrapper colours of cigars to choose. For a novice smoker, this can make the decision a bit overwhelming.
            </p>
        </div>
        <div id="middlebox">
 
            <div class="text-center">
                <h2 style = "padding-bottom:10px" class="display-4">Cutting your Cigar.</h2
                    <hr />
                <p>
                    There are a number of devices that will help you cut your cigar in a single, swift motion that minimizes the chances of tearing the wrapper. Many aficionados have several cutters, from compact wafer-thin cutters that nestle in a pocket to more massive cutters that are less likely to be misplaced.
                </p>
                <img src="https://img.cigar.com/products/CIGASST228-SP-1000.png?v=539010" alt="Dinosaur"
                     width="400"
                     height="400" />
            </div>
        </div>
        <div id="rightbox">
            <h2 style = "padding-bottom:10px" class="display-4">How to light a cigar?</h2>
            <hr />
            <p>
                Lighting a cigar is not like lighting the tip of a cigarette or the wick of a candle--it takes longer. Light your cigar the same way you would toast a marshmallow over a campfire--keep the cigar above and near the flame, but don't let them touch. Burning a cigar directly in a flame makes it too hot. And, as with a marshmallow, you'll want to rotate the cigar so all parts of its tip are equally heated. Be patient, and keep at it until there's a glowing ring all the way around the cigar's tip. Once the cigar is lit, gently blow on the embers to create a smooth, completely rounded ash.
            </p>
        </div>
    </div>
</body>
</html>
